<body class="font-Manrope">
  <header class="fondo pt-6 ">
      <div class="flex 2xl:px-60 gap-2 md:gap-0 xl:px-36 lg:px-20  md:px-8 px-4 justify-between items-center">
        <div>
          <img class="object-cover w-52" src="assets/logoinnova.svg" alt="">
        </div>
        <a target="_blank" href="https://innovated.pe/" class="cursor-pointer focus:outline-none bg-azul-500 hover:bg-azul-550 md:px-8 md:text-base text-sm px-5 py-2 rounded-md flex items-center text-white tracking-wide">Visitar Web</a>
      </div>
      <div class="flex 2xl:px-40 xl:px-32 lg:px-14 px-9 flex-col  w-full text-white pt-16">
        <div class="2xl:text-5xl md:text-4xl text-3xl font-semibold flex justify-center text-center ">Página Autogenerada</div>
        <div class="flex justify-center w-full lg:text-lg md:text-base  text-sm font-normal  pt-16 pb-24 text-center ">
          <p class="lg:w-132 md:w-full text-plomo-200">
            Esta página ha sido autocreada para ocupar el espacio del entorno del dominio; recuerda que si deseas que tu página se muestre, tienes que contactarte con 
            el área de soporte para que te brinde la asistencia necesaria.
          </p>
        </div>
      
      </div>
  </header>
  <section class="bg-plomo-400 h-full 2xl:px-60 xl:px-36 lg:px-20 md:px-8 px-7 py-5 pb-11">
    <div>
      <div class="2xl::text-4xl md:text-3xl text-xl text-center pt-5 font-grande">
        <div class="flex w-full  lg:justify-start justify-center">Descubre nuestros productos</div>
      </div>
      <div class="md:grid md:grid-cols-3  pt-4  flex flex-col md:gap-7 gap-10   ">
        <div class="col-span-1 pt-6  space-y-6 border-1 border-plomo-200 shadow-md rounded-md md:border-0 md:shadow-none ">
          <div class=" flex lg:justify-start justify-center"><img class="object-contain w-11" src="assets/fs.svg" alt=""></div>
          <div class="space-y-2 ">
            <div class="flex lg:justify-start  justify-center text-black font-grande text-2xl">FactedSOL</div>
            <div class="flex lg:justify-start  justify-center text-center lg:text-left">Software de facturación electrónica que te permite emitir comprobantes ante SUNAT.</div>
          </div>
          <a target="_blank" href="https://innovated.pe/" class="cursor-pointer flex lg:justify-start justify-center w-full object-cover focus:outline-none"><img src="assets/vermas.svg" alt=""></a>
        </div>
        <div class="col-span-1 pt-6  space-y-6 border-1 border-plomo-200  shadow-md rounded-md md:border-0 md:shadow-none">
          <div class="flex lg:justify-start justify-center" ><img class="object-contain w-11" src="assets/ft.svg" alt=""></div>
          <div class="space-y-2">
            <div class="flex lg:justify-start  justify-center text-black font-grande text-2xl">FactuTED</div>
            <div class="flex lg:justify-start  justify-center text-center lg:text-left">Software de Gestión comercial que te permite tener control de tu empresa.</div>
          </div>
          <a target="_blank" href="https://innovated.pe/" class="cursor-pointer flex lg:justify-start justify-center w-full object-cover focus:outline-none"><img src="assets/vermas.svg" alt=""></a>
        </div>
        <div class="col-span-1 pt-6  space-y-6 border-1 border-black shadow-md rounded-md md:border-0 md:shadow-none">
          <div class="flex lg:justify-start  justify-center"><img class="object-contain w-11" src="assets/fscompr.svg" alt=""></div>
          <div class="space-y-2">
            <div class="flex lg:justify-start text-center  justify-center text-black font-grande text-2xl">Consulta Comprobante</div>
            <div class="flex lg:justify-start  justify-center text-center lg:text-left">Entorno para consultar los comprobantes declarados ante SUNAT/OSE.</div>
          </div>
          <a target="_blank" href="https://innovated.pe/" class="cursor-pointer flex lg:justify-start justify-center w-full object-cover focus:outline-none"><img src="assets/vermas.svg" alt=""></a>
        </div>
      </div>
     
    </div>
  </section>
  <footer class="text-plomo-200">
    <div class=" flex justify-center w-full text-base font-normal  py-5 text-center ">
      <p class="lg:w-134 w-110 px-4 lg:text-sm text-xs">
        Esta página ha sido autocreada para ocupar el espacio del entorno del dominio; recuerda que si deseas que tu página se muestre, 
        tienes que contactarte con el área de soporte para que te brinde la asistencia necesaria.
      </p>
    </div>
  </footer>
</body>