@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */


.fondo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/fondo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;  
}

footer {
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
  }

